body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.calculator {
    border: 1px solid black;
    padding: 1em;
    width: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator__body {
    display: flex;
    justify-content: space-around;
    width: 5em;
}

.calculator__display {
    margin-bottom: 1em;
    border: 1px solid black;
    height: 1em;
    text-align: right;
    align-self: stretch;
}

.calculator__buttons {
    display: flex;
    flex-direction: column;
}

.numbers__list {
    display: flex;
    flex-direction: column;
}

.list__line {
    display: flex;
    justify-content: space-around;
}

.list__line p {
    border: 1px solid black;
    padding: 0.3em;
    margin: 0.2em;
    cursor: pointer;
}

.list__line p,
.operations__list li {
    width: 1em;
    height: 1em;
    text-align: center;
}
.operations__list {
    display: flex;
    flex-direction: column;
}
.operations__list li {
    border: 1px solid black;
    padding: 0.3em;
    margin-bottom: 0.4em;
    margin: 0 0.2em 0.4em 0.2em;
    cursor: pointer;
}

.operations__list li:first-child {
    margin-top: 0.2em;
}

.zero {
    flex-grow: 2;
}
